body{
    background-color: rgb(217, 224, 245)!important;
}

li{
    background-color: rgb(230, 230, 230, 0.9);
    color: black;
    border: solid lightgreen 1px;
   
}

.btn{
    background-color: rgb(100, 52, 189)!important;
}
i{
    margin: 1%;
}

.centrito{
    background-color: rgb(247, 251, 255)!important;
    border: 3px lightblue solid;
    border-radius: 5px;
    margin-top: 25%;
    background-repeat: repeat-y;
    background-position-x: 90%;
    background-size: 27%;
}

.centrito2{
    margin-top: 15%;
}

#export{
    background-color: darkgreen!important;
}

.botonera{
    padding-top: 20px;
    padding-left: 50%;
}

.logueo{
    width: 500px;
    margin-left: 30%;
}

.sticky{
    width: 200px;
    height: 250px;
    background-color: #FFF888;
    font-family: 'Indie Flower', cursive;
    padding-top: 1%;
    font-weight: bold;
    float: right;
    position:sticky;
    margin-top:-300px;
    margin-right:300px;
    box-shadow: 10px 5px 5px black;
}

hr{
    color:red;
}